extends common/base.jade

block content
	tr
		td(style="padding-bottom: 45px")
			a(href="#")
				img(src="img/logo.png", alt="", style="width: 100px; display: block; margin: 0")
	tr
		td(style="font-size: 12px; font-family: 'Arial'")
			p Hello USER NAME,
				br
				br
				|Thank you for purchasing from On Point Tickets!
				br
				br
				|To view your ticket(s), please download attached pdf ticket from this email or visit the following url: 
				a(href="https://onpoint.co.nz/account-settings/" style="color: black; text-decoration:none;") https://onpoint.co.nz/account-settings/
				br
				br
				|Thanks!
				br
				|On Point Tickets Team