doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title
		style(type='text/css').
			.ReadMsgBody {width: 100%;}
			.ExternalClass {width: 100%;}
			body, p, span{
				font-family: Arial, Helvetica, sans-serif;
			}

	div(style='background:#fff;')
		body(style='padding:0; margin:0;', bgcolor='#fff')
			table(border='0', cellspacing='0', cellpadding='0', width='100%', height='100%')
				tr
					td(align='center', valign='top', background='')
						table(style='margin:auto; width: 600px;padding:30px; font-size: 12px; font-family: "Arial"', cellspacing='0', cellpadding='0')
							block content
